@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* > * {
    font-family: "Press Start 2P";
    margin: 0;
}

body {
    background-color: #c8d7c9; /* Replace with your desired background color */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
}

.bg-colored-table {
    background-color: #f0f0f0; /* Replace with your desired background color for the table */
}
.header {
    margin-bottom: 20px; /* Add spacing between header and table */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.table-container {
    text-align: center;
    width: 30%;
    margin: 0 auto;
}
  
.centered-table {
    width: 100%;
    border-collapse: collapse; /* Remove spacing between table cells */
}
  
.leaderboard-heading {
    margin-bottom: 20px;
}
  
.tight-header {
    padding: 5px 10px; /* Adjust padding as needed */
    margin: 0;
}
  
.tight-cell {
    padding: 5px 10px; /* Adjust padding as needed */
    margin: 0;
}

.logo-container {
    position: absolute;
    bottom: 0px;
    right: 0;
    margin: 10px; /* Adjust the margin as needed to control spacing from the corner */
}
  
.logo {
    width: 200px; /* Adjust the logo's width as needed */
    height: auto; /* Maintain aspect ratio */
}

.bordered-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    border: 3px solid #c8d7c9; /* Add a border around the table */
    border-radius: 15px; /* Optional: Add rounded corners to the border */
}


/* Add lines between table rows */
.bordered-table tbody tr {
    border-bottom: 1px solid #ccc; /* Adjust color as needed */
}
.rounded-table {
    border-radius: 15px;
}