@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*Apply font for EVERYTHING*/
* > * {
    font-family: "Press Start 2P";
    margin: 0;
}

/*Start of Leaderboard.js styling*/
body {
    background-color: #c8d7c9; 
    margin: 0; 
    padding: 0; 
}

.bg-colored-table {
    background-color: #E8F4EA; 
}
.header {
    margin-bottom: 20px; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rounded-table-container {
    border: 1px solid #ccc; 
    border-radius: 15px; 
    overflow: hidden; 
}
.table-container {
    text-align: center;
    width: 50%;
    height: 80%;
    margin: 0 auto;
}
  
.centered-table {
    width: 100%;
    border-collapse: collapse; 
}
  
.leaderboard-heading {
    margin-bottom: 20px;
}
/* Add borders around the h2 element */
.bordered-heading {
    border: 2px solid #000000; 
    border-radius: 15px;
    padding: 10px; 
    display: inline-block; 
}
  
.tight-header {
    padding: 5px 10px; 
    margin: 0;
}
  
.tight-cell {
    padding: 5px 10px; 
    margin: 0;
}

.logo-container {
    position: absolute;
    bottom: 0px;
    right: 0;
    margin: 10px; 
}
  
.logo {
    width: 200px; 
    height: auto; 
}

.bordered-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    border: 3px solid #E8F4EA; 
}

/* Add lines between table rows */

/* In your CSS file (style.css) */
.table-row {
    border-bottom: 2px solid #c8d7c9; /* Add a border between table rows */

  }

.table-row-spacing {
    padding-top: 50px; 
    padding-bottom: 50px; 
}
  
  /* Style the last table row to remove the bottom border */
.table-row:last-child {
    border-bottom: none;
}

.rounded-table {
    border-radius: 0px;
}

.circle-div {
    width: 200px;
    height: 200px;
    background-color: #215D39;
    border-radius: 50%; 
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; 
    color: #fff; 
}

.circle-text {
    color: #fff; 
    font-size: 14px;
    margin: 0; 
    padding: 0; 
    transform: rotate(-10deg);
    text-align: center;
    line-height: 20px; 
}

.horizontal-div {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 20%;
    background-color: #E8F4EA; 
    color: #255E3B; 
    text-align: left;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
  
.horizontal-text {
    font-size: 14px;
    padding: 10px; 
}
/*End of Leaderboard.js styling*/

/*Start of NewScore.js styling*/
.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
  
.center-form {
    text-align: left; 
    max-width: 300px; 
    width: 100%;
}
  
.form-group {
    margin-bottom: 20px; 
    display: flex;
    flex-direction: row; 
    align-items: center; 
}
  
label {
    width: 100px; 
    margin-right: 10px; 
}
  
input[type="text"],
input[type="number"] {
    width: 100%; 
    padding: 10px; 
}
  
button[type="submit"] {
    display: block; 
    width: 100%; 
}


.equal-width-input {
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box; 
  }

.heading-with-padding {
    padding: 10px; 
}
.form-container {
    border: 1px solid #000000; 
    padding: 20px; 
}